# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
frontend/node_modules
frontend/package-lock.json
frontend/dist
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
frontend/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Django
*.log
*.pot
*.pyc
__pycache__/
backend/app/db.sqlite3
backend/app/db.sqlite3-journal
backend/app/media/
backend/app/staticfiles/
backend/env/
backend/venv/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django migrations (opcional)
# */migrations/*.py
# !*/migrations/__init__.py

# Django local settings
backend/app/ligadevpro_backend/local_settings.py
backend/app/.env
backend/app/.env.local

# Celery
celerybeat-schedule
celerybeat.pid

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
