<div class="container">
  <div class="row justify-content-center w-100">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
      <div class="form-content">
        <h2 class="titulo-form">Iniciar Sesión</h2>

        <!-- Formulario de Login Reactivo -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-section login-section">

          <div class="input-group">

            <!-- Usuario / Email -->
            <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input 
                type="text" 
                placeholder="Usuario" 
                formControlName="email" 
                class="form-control" />
            </div>
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger small input-error">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio</small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido</small>
            </div>
          <!-- Contraseña -->
            <div class="input-field mt-2">
              <i class="fa-solid fa-lock"></i>
              <input 
                type="password" 
                placeholder="Contraseña" 
                formControlName="password" 
                class="form-control" />
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger small input-error">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria</small>
              <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</small>
              <small *ngIf="loginForm.get('password')?.errors?.['pattern']">Solo letras, números y @ # _</small>
            </div>

          </div>

          <!-- Botón -->
          <div class="btn-field mt-3">
            <button type="submit" class="btn btn-success w-100 btn-login" [disabled]="loginForm.invalid">
              Iniciar Sesión
            </button>
            <a href="#" class="recuperar-contraseña mt-3">¿Has olvidado tu contraseña?</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>