<main class="tournament-section">
  <div class="page">
    <div class="card">
      <h2 class="title">Crear Torneo</h2>

      <form [formGroup]="formTournament" (ngSubmit)="onSubmit()" novalidate>
        <div class="field">
          <label for="nombre">Nombre del torneo</label>
          <input id="nombre" type="text" formControlName="nombre" placeholder="Ej: Copa LigaPro" />
          @if (nombre?.touched && nombre?.invalid) {
          <div class="error">
            @if (nombre?.errors?.['required']) {
            <small>El nombre es obligatorio.</small>
            } @if (nombre?.errors?.['minlength']) {
            <small>Mínimo 3 caracteres.</small>
            }
          </div>
          }
        </div>

        <div class="field">
          <label for="fechaInicio">Fecha de inicio</label>
          <input id="fechaInicio" type="date" formControlName="fechaInicio" />
          @if (fechaInicio?.touched && fechaInicio?.invalid) {
          <div class="error">
            <small>La fecha de inicio es obligatoria.</small>
          </div>
          }
        </div>
        <div class="field">
          <label for="fechaFinal">Fecha final</label>
          <input id="fechaFinal" type="date" formControlName="fechaFinal" />
          @if (fechaFinal?.touched && fechaFinal?.invalid) {
          <div class="error">
            <small>La fecha final es obligatoria.</small>
          </div>
          }
        </div>

        <div class="field field-ubicacion">
          <label for="ubicacion">Ubicación</label>
          <input
            id="ubicacion"
            type="text"
            formControlName="ubicacion"
            placeholder="Ej: Estadio Municipal"
          />
          @if (ubicacion?.touched && ubicacion?.invalid) {
          <div class="error">
            @if (ubicacion?.errors?.['required']) {
            <small>La ubicación es obligatoria.</small>
            } @if (ubicacion?.errors?.['minlength']) {
            <small>Mínimo 5 caracteres.</small>
            }
          </div>
          }
        </div>

        <div class="field">
          <label for="descripcion">Descripción (opcional)</label>
          <textarea
            id="descripcion"
            rows="3"
            formControlName="descripcion"
            placeholder="Detalles del torneo..."
          ></textarea>
        </div>

        <button class="btn" type="submit" [disabled]="formTournament.invalid">Crear Torneo</button>
      </form>
    </div>
  </div>
</main>
