/* Navbar fija y con color de fondo personalizado */
.navbar {
  background-color: var(--color-green-dark);
  padding: 15px 0 !important;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar .navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar .nav-link {
  padding: 0px;
}

.navbar a:hover {
  color: var(--color-green-light);
  text-decoration: underline;
}

.logo-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Logo dentro del navbar como botón */
.logo-icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
  transition: transform 0.2s ease;
}
