<main class="register-section">
  <div class="section-register">
    <div class="form-content">
      <h2 class="titulo-form">Registro de Usuario</h2>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        class="form-section register-section"
      >
        <div class="input-field">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Nombre de usuario" formControlName="username" />
        </div>
        @if (username?.invalid && username?.touched) {
        <div class="input-error">
          @if (username?.errors?.['required']) {
          <small>El nombre es obligatorio</small>
          } @if (username?.errors?.['minlength']) {
          <small>Mínimo 3 caracteres</small>
          }
        </div>
        }

        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" placeholder="Correo electrónico" formControlName="email" />
        </div>
        @if (email?.invalid && email?.touched) {
        <div class="input-error">
          @if (email?.errors?.['required']) {
          <small>El email es obligatorio</small>
          } @if (email?.errors?.['email']) {
          <small>Formato de email inválido</small>
          }
        </div>
        }

        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Contraseña" formControlName="password" />
        </div>
        @if (password?.invalid && password?.touched) {
        <div class="input-error">
          @if (password?.errors?.['required']) {
          <small>La contraseña es obligatoria</small>
          } @if (password?.errors?.['minlength']) {
          <small>Mínimo 6 caracteres</small>
          } @if (password?.errors?.['pattern']) {
          <small>Solo letras, números y @ # _</small>
          }
        </div>
        }

        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            placeholder="Confirmar contraseña"
            formControlName="confirmPassword"
          />
        </div>
        @if (registerForm.errors?.['mismatch'] && confirmPassword?.touched) {
        <div class="input-error">
          <small>Las contraseñas no coinciden</small>
        </div>
        }

        <div class="btn-field">
          <button type="submit" class="btn-register" [disabled]="registerForm.invalid">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
